extends layout.pug

block script
    script(src="/javascripts/slider.js")
    script(src="/javascripts/checkbox.js")
    script(src="/javascripts/meta.js")
    script(src="/javascripts/file.js")
    script(src="/javascripts/s3form.js")


block content
    div(id="not-yet" class="busy-holder")
        div(class="loader busy")

    h3='Storage ' + id
    table(class="table table-striped padding-top")
        tr
            td(class="col-xs-1 middle") Storage ID
            td(class="breakable" id="storage-id")=id
        tr
            td(class="col-xs-2 middle") Storage URL
            td
                a(href=encodeURI(url) class="breakable")=url
        tr
            td(class="col-xs-1 middle") Task
            td='?'

    h3='Tasks'
    p.
        The only available task is rescaling.#[br]
        Supported&nbsp;image&nbsp;types: .png,&nbsp;.jpg,&nbsp;.bmp#[br]
        Supported&nbsp;scale&nbsp;range: from&nbsp;1%&nbsp;to&nbsp;200%

    form(class="form-horizontal padding-top")
        div(class="form-group")
            span(class="col-md-3 control-label") Selected images
            div(class="col-md-3")
                textarea(id="scale-images" class="form-control" readonly="readonly" rows="4") None

        div(class="form-group")
            label(for="scale-task" class="col-md-3 control-label") Requested scale (%)
            div(class="col-md-3")
                input(type="text" id="scale-task" name="scale-task" class="slider form-control"
                data-slider-min="1" data-slider-max="200" data-slider-step="1" data-slider-value="75")

        div(class="form-group")
            div(class="col-md-offset-3 col-md-3")
                input(type="submit" name="submit" value="Schedule that task" class="form-control")

    h3='Files'

    form(action=s3form.url method="post" enctype="multipart/form-data" id="s3form")
        each key in s3form.s3fields
            input(type="hidden" name=key.name value=key.value)

        span(class="btn btn-default btn-file") just #[b ADD] some new #[b FILES]
            input(type="file" name="file" id="file" required="required" multiple="multiple")
    div(class="progress-bar-area padding-top")

    table(id="file-table" class="table table-striped padding-top")
        thead
            tr
                th(class="col-xs-1 middle")
                    input(type="checkbox" id="files-check-all")
                th(class="col-xs-1 middle") Collector
                th(class="col-xs-1 middle") Worker
                th(class="col-xs-8 middle") URL

        tbody(id="file-list")
            tr(class="hidden")
                td
                    input(type="checkbox" name="files" class="files-check" value="")
                td
                    span='?'
                td
                    span='?'
                td
                    a(href="")=""

    p
        a(href="#" class="reload") Refresh (#[b F5]).#[br]
        a(href="/") Go back.

    div(class="padding-bottom-end")
