extends layout.pug

block content
    h3='Storage ' + ID

    table(class="table table-striped padding-top")
        tr
            td(class="col-xs-1 middle") Storage ID
            td(class="breakable")=ID
        tr
            td(class="col-xs-2 middle") Storage URL
            td
                a(href=escape(URL) class="breakable")=URL
        tr
            td(class="col-xs-1 middle") Task
            td='?'


    form(action=S3Form.URL method="post" enctype="multipart/form-data" id="s3form" class="direct-upload" )
        each key in S3Form.Fields
            input(type="hidden" name=key.name value=key.value)

        span(class="btn btn-default btn-file") click here to #[b ADD] some new FILES
            input(type="file" name="file" id="file" required="required" multiple="multiple")

    div(class="progress-bar-area")

    form
    table(class="table table-striped padding-top")
        thead
            tr
                th(class="col-xs-1 middle") &nbsp;
                th(class="col-xs-1 middle") Collector
                th(class="col-xs-1 middle") Worker
                th(class="col-xs-8 middle") URL
        tbody
            each file in Files
                tr
                    td
                        input(type="checkbox")
                    td
                        span='?'
                    td
                        span='?'
                    td
                        a(href=escape(file.URL))=file.Name
