extends layout.pug

block content
    h3='Storage ' + ID

    table(class="table table-striped padding-top")
        tr
            td(class="col-xs-1 middle") Storage ID
            td(class="breakable")=id
        tr
            td(class="col-xs-2 middle") Storage URL
            td
                a(href=encodeURI(url) class="breakable")=url
        tr
            td(class="col-xs-1 middle") Task
            td='?'

    form(action=s3form.url method="post" enctype="multipart/form-data" id="s3form")
        each key in s3form.s3fields
            input(type="hidden" name=key.name value=key.value)

        span(class="btn btn-default btn-file") click here to #[b ADD] some new #[b FILES]
            input(type="file" name="file" id="file" required="required" multiple="multiple")

    div(class="progress-bar-area padding-top")

    table(class="table table-striped padding-top")
        thead
            tr
                th(class="col-xs-1 middle") &nbsp;
                th(class="col-xs-1 middle") Collector
                th(class="col-xs-1 middle") Worker
                th(class="col-xs-8 middle") URL

        tbody(id="file-list")
            each file in files
                tr
                    td
                        input(type="checkbox" name="files" value=file.name)
                    td
                        span='?'
                    td
                        span='?'
                    td
                        a(href=encodeURI(file.url))=file.name
